#map{
  width: 1000px;
    margin-left: 70px;
        
}
img{
    margin-left: 200px;
    margin-top: 40px; 
}
.contact_1 h3{
    display:contents;
        margin-left: 200px;
    margin-top: 1000px; 
}
#video{
    height: 1000px;
   
}
